<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign Device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    
    <ion-row>
      <ion-col size="12">
        <ion-list class="list-custom">
          <ion-item class="item-custom" >
            <ion-label position="floating">Device Token</ion-label>
            <ion-input [(ngModel)]="deviceToken" value="{deviceToken}"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-label>Dados da Notificação</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

        <ion-row *ngIf="title != null" class="ion-text-left">
          <ion-col size="2">
            <ion-label>title:</ion-label>
          </ion-col>
          <ion-col size="10">
            <ion-label style="width: 100%">{{title}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="body != null" class="ion-text-left">
          <ion-col size="2">
            <ion-label>body:</ion-label>
          </ion-col>
          <ion-col size="10">
            <ion-label style="width: 100%">{{body}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="data != null" class="ion-text-left">
          <ion-col size="2">
            <ion-label>data:</ion-label>
          </ion-col>
          <ion-col size="10">
            <ion-label style="width: 100%">{{data}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="registerDevice()" expand="block">
        Register Device
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
